.Board {}

input {
    height: 50px;
    width: 50px;
    font-size: 40px;
    text-align: center;
}

tr:nth-child(3) td {
    border-bottom: 5px solid black;
}

tr:nth-child(6) td {
    border-bottom: 5px solid black;
}

td:nth-child(3) {
    border-right: 5px solid black;
    padding-right: 5px;
}

td:nth-child(4) {
    padding-left: 5px;
}

td:nth-child(6) {
    border-right: 5px solid black;
    padding-right: 5px;
}

td:nth-child(7) {
    padding-left: 5px;
}